<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sj.demo.mapper.HlzLogMapper">
    <insert id="insert" parameterType="org.sj.demo.entity.HlzLog">
        insert into hlzlog_x (contents, opdt, opuser, title, opcode, userid,type)
        values (#{contents}, #{opdt}, #{opuser}, #{title}, #{opcode}, #{userid},#{type})
    </insert>
</mapper>